---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-18 flex flex-col items-center">
    <p class="text-base font-semibold text-zinc-500">404</p>
    <h1
      class="mt-4 text-4xl font-bold tracking-tight sm:text-5xl text-zinc-100"
    >
      Page not found
    </h1>
    <p class="mt-4 text-base text-zinc-400">
      Sorry, we couldn’t find the page you’re looking for.
    </p>
    <a
      href="/"
      class="mt-4 rounded-md bg-emerald-50 px-3.5 py-2.5 text-sm font-semibold text-emerald-600 shadow-xs hover:bg-emerald-100 dark:bg-emerald-500/20 dark:text-emerald-400 dark:shadow-none dark:hover:bg-emerald-500/30"
      >Go back home</a>
  </div>
</Layout>
