---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>spbware - Sergei Burtsev</title>
  </head>

  <body class="antialiased min-h-screen bg-zinc-900 flex h-full">
    <div class="max-w-4xl mx-auto px-4 py-8 relative flex flex-col w-full">
      <main class="flex-auto">
        <slot />
      </main>
      <footer class="mt-32 flex-none">
        <div class="border-t border-white/10 pt-10 pb-16 mx-auto py-12 md:flex md:items-center md:justify-between">
          <p
            class="mt-8 text-center text-sm/6 text-zinc-400 md:order-1 md:mt-0"
          >
            &copy {new Date().getFullYear()} Sergei Burtsev. All rights reserved.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
